<!DOCTYPE html>
<html>
	<head>
		<script type="text/javascript" src="../static/jquery.js"></script>
		<script type="text/javascript" src="../static/results.js"></script>
		<link href="../static/style.css" rel="stylesheet" type="text/css"/>
		<link href='http://fonts.googleapis.com/css?family=Arbutus+Slab' rel='stylesheet' type='text/css'/>
	</head>
	<body>
		<h1>Dollar Words<h1>
		<p>Enter a word to see how much it's worth.</p>
		<label for="word">Word: </label>
		<input type="text" id="word" />
		<button id="go">GO</button>
		<div id="results"></div>
		<script type="text/javascript" src="../static/results.js"></script>
	</body>
</html>